## 1) Introduction

## 2) Problem Statement

## 3) Exploration of Data
* Data Understaning

### Load the libraries required

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

### Load the dataset

In [2]:
biomass_history = pd.read_csv(r"C:\Users\wanji\Desktop\shell\Shell-Energy-AI\Biomass_History.csv")
biomass_history

,Index,Latitude,Longitude,2010,2011,2012,2013,2014,2015,2016,2017
0,0,24.66818,71.33144,8.475744,8.868568,9.202181,6.023070,10.788374,6.647325,7.387925,5.180296
1,1,24.66818,71.41106,24.029778,28.551348,25.866415,21.634459,34.419411,27.361908,40.431847,42.126946
2,2,24.66818,71.49069,44.831635,66.111168,56.982258,53.003735,70.917908,42.517117,59.181629,73.203232
3,3,24.66818,71.57031,59.974419,80.821304,78.956543,63.160561,93.513924,70.203171,74.536720,101.067352
4,4,24.66818,71.64994,14.653370,19.327524,21.928144,17.899586,19.534035,19.165791,16.531315,26.086885
...,...,...,...,...,...,...,...,...,...,...,...
2413,2413,20.15456,72.84432,5.199882,4.516778,4.321080,2.658953,5.113997,5.301668,6.419223,5.321604
2414,2414,20.15456,72.92394,0.122287,0.126717,0.101494,0.111509,0.121749,0.122467,0.145785,0.120626
2415,2415,20.15456,73.00357,0.039415,0.040843,0.032713,0.035941,0.039241,0.039473,0.046989,0.038879
2416,2416,20.15456,73.08319,2.719220,1.370163,0.818687,1.205721,1.316443,1.324201,1.576338,1.304297
2417,2417,20.15456,73.16282,0.621228,0.238414,0.112909,0.209801,0.229067,0.230417,0.274289,0.226953

In [3]:
distance_matrix = pd.read_csv(r"C:\Users\wanji\Desktop\shell\Shell-Energy-AI\Distance_Matrix.csv")
distance_matrix

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417
0,0,0.0000,11.3769,20.4557,38.1227,45.3810,54.9915,78.6108,118.6750,102.6639,...,683.8771,687.6310,697.3246,669.3962,667.6788,665.5775,662.0291,665.9655,673.2073,681.4235
1,1,11.3769,0.0000,9.0788,28.9141,36.1724,45.7829,69.4022,78.2329,93.4553,...,681.6295,685.3833,695.0769,667.1485,665.4311,663.3298,659.7815,663.7178,670.9596,679.1758
2,2,20.4557,9.0788,0.0000,22.3791,29.6374,39.2478,62.8671,71.6979,86.9203,...,682.2323,685.9861,695.6796,667.7513,666.0339,663.9326,660.3843,664.3206,671.5623,679.7786
3,3,38.1227,28.9141,22.3791,0.0000,11.8343,23.5413,41.8396,50.6703,65.8927,...,681.4226,685.1765,694.8701,666.9417,665.2243,663.1230,659.5746,663.5110,670.7528,678.9690
4,4,45.3810,36.1724,29.6374,11.8343,0.0000,11.7070,24.3986,33.2293,53.9901,...,663.9816,667.7355,677.4291,649.5007,647.7833,645.6820,642.1336,646.0700,653.3118,661.5280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2413,2413,671.2005,668.9528,669.5556,669.9084,652.1102,640.4032,627.7116,622.9663,638.9532,...,109.0007,112.7545,122.4481,12.3091,9.1558,0.0000,14.5629,22.3860,36.6284,44.8446
2414,2414,663.4455,661.1978,661.8006,662.1534,644.3551,632.6481,619.9566,615.2112,631.1981,...,101.2456,104.9995,114.6931,26.4955,23.3422,14.1864,0.0000,14.5984,28.8407,37.0570
2415,2415,663.7748,661.5271,662.1298,662.4826,644.6844,632.9774,620.2859,615.5405,631.5274,...,84.1469,87.9008,97.5943,34.3098,31.1565,22.0007,12.8105,0.0000,14.2423,22.4586
2416,2416,671.0165,668.7688,669.3715,669.7244,651.9261,640.2191,627.5276,622.7822,638.7691,...,91.3886,95.1425,104.8361,48.5521,45.3988,36.2430,27.0528,14.2423,0.0000,12.4741
2417,2417,679.2328,676.9851,677.5878,677.9406,660.1424,648.4354,635.7439,630.9985,646.9854,...,99.6049,103.3587,113.0523,56.7684,53.6151,44.4593,35.2691,22.4586,12.4741,0.0000

## 3i) Data decsription

### Lets get to know the shape, column column names and describe an info as wee

In [4]:
# Shape of the dataset
def get_shape(data):
    return data.shape
print(get_shape(biomass_history))
print(get_shape(distance_matrix))

(2418, 11)
(2418, 2419)

In [5]:
# Column names 
def get_columns(data):
    return data.columns

print(get_columns(biomass_history))
print(get_columns(distance_matrix))

Index(['Index', 'Latitude', 'Longitude', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')
Index(['Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '2408', '2409', '2410', '2411', '2412', '2413', '2414', '2415', '2416',
       '2417'],
      dtype='object', length=2419)

In [6]:
#Info
def get_info(data):
    return data.info()
print(get_info(biomass_history))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2418 entries, 0 to 2417
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Index      2418 non-null   int64
 1   Latitude   2418 non-null   float64
 2   Longitude  2418 non-null   float64
 3   2010       2418 non-null   float64
 4   2011       2418 non-null   float64
 5   2012       2418 non-null   float64
 6   2013       2418 non-null   float64
 7   2014       2418 non-null   float64
 8   2015       2418 non-null   float64
 9   2016       2418 non-null   float64
 10  2017       2418 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 207.9 KB
None

In [7]:
#Info
print(get_info(distance_matrix))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2418 entries, 0 to 2417
Columns: 2419 entries, Unnamed: 0 to 2417
dtypes: float64(2418), int64(1)
memory usage: 44.6 MB
None

In [8]:
## Describe/ Statistics of the dataset
def describe_data(data):
    return data.describe()
describe_data(biomass_history)

,Index,Latitude,Longitude,2010,2011,2012,2013,2014,2015,2016,2017
count,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000
mean,1208.500000,22.506537,71.826215,144.401424,150.860247,109.468899,161.886430,157.954024,132.898633,113.089323,159.163367
std,698.160798,1.034936,1.389804,146.506351,142.264612,110.249714,180.337708,139.870466,129.689111,102.092570,158.993069
min,0.000000,20.154560,68.624190,0.000167,0.000433,0.000290,0.000532,0.000155,0.000072,0.000151,0.000191
25%,604.250000,21.685970,70.774060,23.449163,25.576084,22.711070,27.044554,31.514698,22.732275,22.658495,26.064368
50%,1208.500000,22.491970,71.888820,112.298855,126.291077,82.271317,117.662296,136.859337,106.789989,91.721931,120.519817
75%,1812.750000,23.297970,73.003570,207.689327,226.197079,163.512547,222.835739,241.965115,196.102222,177.136295,231.067348
max,2417.000000,24.668180,74.436820,883.691711,771.061646,871.800415,1232.853760,871.800415,771.061646,514.148987,883.691711

In [9]:
describe_data(distance_matrix)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417
count,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,...,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000
mean,1208.500000,368.031304,365.729249,369.361137,374.317877,364.935760,366.200883,365.522294,360.913470,376.665724,...,509.602595,513.239310,522.636875,497.695405,495.976481,493.873872,490.351866,493.042140,500.292465,508.498608
std,698.160798,142.202810,142.319107,141.790200,144.166507,142.542589,141.911293,139.764351,139.470298,139.911641,...,188.618172,188.845803,189.456049,184.746220,184.749850,184.752665,184.683925,186.697289,186.677956,186.703896
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,604.250000,268.331575,266.083875,272.246875,272.766700,265.546175,267.110025,268.890600,264.145300,280.132200,...,395.706100,399.459975,409.153500,384.531775,382.814375,380.713075,377.164675,379.138275,386.379975,394.596275
50%,1208.500000,378.698250,376.450600,380.004150,388.647500,379.764200,380.317950,383.447750,378.702400,394.689350,...,531.021850,534.775750,544.469300,516.540900,514.823550,512.722250,509.173900,513.110250,520.352000,528.568250
75%,1812.750000,471.071850,468.824175,472.753550,483.028325,473.622025,474.513650,472.969950,468.224575,484.211550,...,651.121025,654.874825,664.568425,636.640025,634.922725,632.821400,629.273025,633.209400,640.451050,648.667325
max,2417.000000,705.814600,703.567000,704.169700,704.522500,686.724300,675.017300,662.325700,657.580300,673.567300,...,891.998200,895.752100,905.445600,877.517200,875.799900,873.698600,870.150200,874.086600,881.328300,889.544600

## 3i) Data Cleaning

### Identify missing values

In [10]:
# Function for missing values 
# A function to check for missing values in our dataset
def check_missing_values(data):
    # Count missing values in each column
    missing_values = data.isnull().sum()

    # Convert missing values count to percentage of total rows
    missing_percent = (missing_values / len(data)) * 100

    # Combine the missing values count and percent into a DataFrame
    missing_df = pd.concat([missing_values, missing_percent], axis=1)
    missing_df.columns = ['Missing Values', '% of Total']
# Return only columns with missing values
    missing_df = missing_df[missing_df['Missing Values'] > 0]

    return missing_df

# Check missing values in each dataset
display(check_missing_values(biomass_history))
display(check_missing_values(distance_matrix))

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

* Give the above results from the missing data , there are no missing values

In [11]:
def check_missing_values(data):
    return data.isnull().sum()
biomass_history_missing_values = check_missing_values(biomass_history)
biomass_history_missing_values

Index        0
Latitude     0
Longitude    0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
dtype: int64

In [12]:
# Function to check for the duplicates 
def check_duplicates(data):
    
    duplicates = biomass_history[biomass_history.duplicated()]
    if duplicates.shape[0] == 0:
        print("No duplicates found in the dataset")
    else:
        print("Duplicates found in the dataset:")
        return duplicates
# Calling for the function to check for duplicates
check_duplicates(biomass_history)
biomass_history.duplicated().sum()

check_duplicates(distance_matrix)
distance_matrix.duplicated().sum()

No duplicates found in the dataset
No duplicates found in the dataset

0

### What to look for : Imbalancing(randomSampling,Oversampling,smote analysis)
* Conversion of the dateformat
* check for outliers
* EDA and visualisation
* Data preprocessiing
Biomass Forecast(Using fbprophet)- time series

### Convert the data to long format 
* Converting the data to long format can make it easier to work with time-series data and perform forecasting tasks

In [13]:
import pandas as pd
# Melt the DataFrame to convert it to long format
df_long = pd.melt(biomass_history, id_vars=['Index', 'Latitude', 'Longitude'], var_name='Year', value_name='Value')

# Show the resulting long format DataFrame
df_long

       Index  Latitude  Longitude  Year      Value
0          0  24.66818   71.33144  2010   8.475744
1          1  24.66818   71.41106  2010  24.029778
2          2  24.66818   71.49069  2010  44.831635
3          3  24.66818   71.57031  2010  59.974419
4          4  24.66818   71.64994  2010  14.653370
...      ...       ...        ...   ...        ...
19339   2413  20.15456   72.84432  2017   5.321604
19340   2414  20.15456   72.92394  2017   0.120626
19341   2415  20.15456   73.00357  2017   0.038879
19342   2416  20.15456   73.08319  2017   1.304297
19343   2417  20.15456   73.16282  2017   0.226953

[19344 rows x 5 columns]

### Check for outliers

In [15]:
def handle_outliers_iqr(data, column, lower_bound_factor, upper_bound_factor, replace_with=None):
    """
    Handle outliers in a column using the Interquartile Range (IQR) method.

    Parameters:
        data (pd.DataFrame): DataFrame containing the data.
        column (str): Name of the column to handle outliers.
        lower_bound_factor (float): Lower bound factor to calculate the lower outlier threshold.
        upper_bound_factor (float): Upper bound factor to calculate the upper outlier threshold.
        replace_with: Value to replace outliers with (default is None, meaning outliers will be removed).

    Returns:
        pd.Series: Series with outliers handled.
    """
    q1 = data[column].quantile(0.25)
    q3 = data[column].quantile(0.75)
    iqr = q3 - q1
    
    lower_bound = q1 - lower_bound_factor * iqr
    upper_bound = q3 + upper_bound_factor * iqr
    
    if replace_with is None:
        # Remove outliers
        data_filtered = data[(data[column] >= lower_bound) & (data[column] <= upper_bound)]
        return data_filtered[column]
    else:
        # Replace outliers with specified value
        data[column] = data[column].apply(lambda x: replace_with if x < lower_bound or x > upper_bound else x)
        return data[column]

# Now you can use the preprocess_biomass_data function along with the handle_outliers_iqr function
biomass_history_cleaned = preprocess_biomass_data(biomass_history)

# Print the first few rows of the cleaned DataFrame
print(biomass_history_cleaned.head())

   Index  Latitude  Longitude       2010       2011       2012       2013  \
0      0  24.66818   71.33144   8.475744   8.868568   9.202181   6.023070
1      1  24.66818   71.41106  24.029778  28.551348  25.866415  21.634459
2      2  24.66818   71.49069  44.831635  66.111168  56.982258  53.003735
3      3  24.66818   71.57031  59.974419  80.821304  78.956543  63.160561
4      4  24.66818   71.64994  14.653370  19.327524  21.928144  17.899586

        2014       2015       2016        2017
0  10.788374   6.647325   7.387925    5.180296
1  34.419411  27.361908  40.431847   42.126946
2  70.917908  42.517117  59.181629   73.203232
3  93.513924  70.203171  74.536720  101.067352
4  19.534035  19.165791  16.531315   26.086885

### Perofrm Scaling and Normalization

In [16]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Assuming you have a DataFrame named 'biomass_history' containing the biomass availability data
# with columns 'Index', 'Latitude', 'Longitude', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'

# Extract the relevant columns for scaling and normalization
biomass_features = biomass_history[['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']]

# Calculate the mean biomass availability for each harvesting site across all years
biomass_history['biomass_availability'] = biomass_features.mean(axis=1)

# Drop the individual year columns as they are no longer needed
biomass_history.drop(columns=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'], inplace=True)

In [17]:
# Perform Standard sclaing (Z-score normalization)
scaler = StandardScaler()
biomass_scaled = scaler.fit_transform(biomass_features)

In [21]:
# Create a new DataFrame with the scaled biomass availability
biomass_scaled_df = pd.DataFrame(biomass_scaled, columns=['biomass_availability_scaled']*biomass_scaled.shape[1])

# Perform Min-Max Scaling (Normalization)
min_max_scaler = MinMaxScaler()
biomass_normalized = min_max_scaler.fit_transform(biomass_features)

# Create a new DataFrame with the normalized biomass availability
biomass_normalized_df = pd.DataFrame(biomass_normalized, columns=['biomass_availability_normalized']*biomass_normalized.shape[1])

# Concatenate the original DataFrame with the scaled and normalized DataFrames
biomass_history = pd.concat([biomass_history, biomass_scaled_df, biomass_normalized_df], axis=1)

# Create a new DataFrame with the normalized biomass availability
biomass_normalized_df = pd.DataFrame(biomass_normalized, columns=['biomass_availability_normalized']*biomass_normalized.shape[1])

# Concatenate the original DataFrame with the scaled and normalized DataFrames
biomass_history = pd.concat([biomass_history, biomass_scaled_df, biomass_normalized_df], axis=1)

# Now, let's create the new features for biomass forecasting
# Calculate the average biomass availability for each harvesting site over the years
average_biomass_per_site = biomass_history.groupby('Index')['biomass_availability'].mean()
biomass_history = biomass_history.merge(average_biomass_per_site, on='Index', suffixes=('', '_avg'))

# Assuming you want to create lag features for 1 year and 2 years
biomass_history['biomass_availability_lag1'] = biomass_history.groupby('Index')['biomass_availability'].shift(1)
biomass_history['biomass_availability_lag2'] = biomass_history.groupby('Index')['biomass_availability'].shift(2)

# Print the updated DataFrame
print(biomass_history.head())

   Index  Latitude  Longitude  biomass_availability  \
0      0  24.66818   71.33144              7.821685
1      1  24.66818   71.41106             30.552764
2      2  24.66818   71.49069             58.343585
3      3  24.66818   71.57031             77.779249
4      4  24.66818   71.64994             19.390831

   biomass_availability_scaled  biomass_availability_scaled  \
0                    -0.927972                    -0.998288
1                    -0.821784                    -0.859906
2                    -0.679768                    -0.595838
3                    -0.576388                    -0.492416
4                    -0.885797                    -0.924755

   biomass_availability_scaled  biomass_availability_scaled  \
0                    -0.909639                    -0.864465
1                    -0.758458                    -0.777879
2                    -0.476169                    -0.603896
3                    -0.276814                    -0.547563
4                    -0.794187                    -0.798594

   biomass_availability_scaled  biomass_availability_scaled  ...  \
0                    -1.052374                    -0.973693  ...
1                    -0.883390                    -0.813935  ...
2                    -0.622391                    -0.697053  ...
3                    -0.460808                    -0.483529  ...
4                    -0.989835                    -0.877147  ...

   biomass_availability_scaled  biomass_availability_normalized  \
0                    -0.968690                         0.009591
1                    -0.736262                         0.027192
2                    -0.540765                         0.050732
3                    -0.365475                         0.067868
4                    -0.837169                         0.016582

   biomass_availability_normalized  biomass_availability_normalized  \
0                         0.011501                         0.010555
1                         0.037028                         0.029670
2                         0.085740                         0.065361
3                         0.104818                         0.090567
4                         0.025066                         0.025152

   biomass_availability_normalized  biomass_availability_normalized  \
0                         0.004885                         0.012375
1                         0.017548                         0.039481
2                         0.042992                         0.081346
3                         0.051231                         0.107265
4                         0.014518                         0.022406

   biomass_availability_normalized  biomass_availability_normalized  \
0                         0.008621                         0.014369
1                         0.035486                         0.078638
2                         0.055141                         0.115106
3                         0.091047                         0.144971
4                         0.024856                         0.032152

   biomass_availability_normalized  biomass_availability_avg
0                         0.005862                  7.821685
1                         0.047671                 30.552764
2                         0.082838                 58.343585
3                         0.114369                 77.779249
4                         0.029520                 19.390831

[5 rows x 56 columns]

## Biomass analysis Forecasting

In [24]:
from fbprophet import Prophet

# Assume 'year' and 'biomass_availability' are columns in the biomass_data dataframe
biomass_history = biomass_history.rename(columns={'year': 'ds', 'biomass_availability': 'y'})

# Initialize and fit the Prophet model
model = Prophet()
model.fit(biomass_history)

# Create future dates for forecasting
future = model.make_future_dataframe(periods=365)  # Forecast for the next year (365 days)

# Make predictions for future dates
forecast = model.predict(future)

# Display the forecasted biomass availability
print(forecast.tail())

ValueError: Dataframe must have columns "ds" and "y" with the dates and values respectively.